<% if(loginAdmin){ %>
    <div id="vertnav">
        <img src="/imgs/logo.png" alt="">
    
       
    
        <div id="links-admin">
            <a href="/dashboard">
                <i class="fa-solid fa-chart-line"></i>
                Tableau de bord
            </a>
            <a href="/patients">
                <i class="fa-solid fa-user"></i>
                Patients
            </a>
            <a href="/medecins">
                <i class="fa-solid fa-user-plus"></i>
                Médecins
            </a>
           
            <a href="/logout">
                <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </a>
    
        </div>
    </div>
    <% } %>