<div id="fond">
    <div>
        <h1>Bienvenue à <span>TheraMed</span></h1>
        <h2>votre clinique en ligne de confiance!</h2>
        <p>
            Theramed connecte patients et médecins dans un environnement sécurisé et pratique.
             Que vous ayez besoin de conseils médicaux, de consultations en ligne, ou de suivis 
             de santé, 
            nos professionnels de la santé sont là pour vous aider.
        </p>
        <a href="/signup">Inscrivez vous</a>
    </div>
</div>

<center style="max-width: 700px; margin: 120px auto;">
    <h1 class="title">
        A propos
    </h1>
    <p>
        Bienvenue chez Theramed, votre clinique en ligne de confiance dédiée à rapprocher patients et médecins grâce à une technologie moderne et sécurisée. Nous comprenons l'importance d'un accès facile et rapide aux soins de santé, et c'est pourquoi nous avons créé Theramed, une plateforme innovante conçue pour répondre à vos besoins médicaux sans quitter le confort de votre foyer.
    </p>


    <h2 class="title">Notre Mission </h2>
    <p>
        
        Chez Theramed, notre mission est de fournir des soins de santé de qualité supérieure, 
        accessibles et personnalisés à tous nos utilisateurs. Nous nous engageons à offrir un 
        service qui simplifie la vie des patients et des professionnels de santé, tout en maintenant
         les standards les plus élevés de confidentialité et de sécurité des données.
    </p>
</center>


<div id="services">
    <div class="service">
        <i class="fa-solid fa-heart-pulse"></i>
        <h3>Consulation Médicale</h3>
        <p>Rencontrez nos médecins qualifiés via des consultations vidéo sécurisées.</p>
    </div>
    <div class="service">
        <i class="fa-solid fa-kit-medical"></i>
        
        <h3>Suivi de soin</h3>
        <p>Recevez des conseils et des suivis médicaux adaptés à vos besoins spécifiques.</p>
    </div>
    <div class="service">
        <i class="fa-solid fa-notes-medical"></i>
        <h3>Ordonnance Electronique</h3>
        <p>Obtenez vos prescriptions rapidement et facilement.</p>
    </div>
    <div class="service">
        <i class="fa-solid fa-briefcase-medical"></i>
        <h3>Ressource de santé</h3>
        <p>Accédez à des articles, des guides et des conseils pour maintenir une bonne santé.</p>
    </div>
</div>